$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-fade: rgb(240, 239, 239);
$color-fadedark: rgb(233, 232, 232);
$color-black: #000;
$color-blue: #0067b8;

$small: 0.2rem;

$normal1: 0.27rem solid $color-grey-dark-3;
$normal2: 0.27rem solid $color-white;
$normal3: 0.18rem solid $color-grey-dark-3;
$normal4: 0.28rem solid $color-blue;

$transit: all 200ms ease-in-out;
