.biz {
  display: block;
  width: 100%;
  height: max-content;
  overflow: visible;
  margin-bottom: 3rem;

  &_caption {
    margin-bottom: 0;
    padding: 2rem 0;
  }

  &_flex {
    display: block;
    height: max-content;  //57rem
    width: 100%;
    @include clearfix;

    &-box {
      min-height: 1px;
      margin: 0 auto;

      @include gridbox;
    }
  }
}
