.u-margin-bottom-small {
  margin-bottom: 2.8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 1.8rem;
}

.u-margin-bottom-large {
  margin-bottom: 5.5rem;
}

.u-margin-bottom-xlarge {
  margin-bottom: 5.8rem;
}

.u-padding-right-medium {
  padding-right: 0.5rem;
}


.block {
  display: block;
}

.heading-space {
  margin-top: 5rem;
  padding-right: 0rem; //1.5rem
}
